<div class="container mx-auto my-18 p-6">
  <!-- Header -->
  <div class="flex items-center justify-between mb-10">
    <div class="flex items-center">
      <div class="w-1 h-5 bg-[#0090FF] mr-2"></div>
      <h2 class="text-lg font-bold">Rekomendasi Untuk Anda</h2>
    </div>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="applyFilter()"
      placeholder="Cari disini..."
      class="border rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 border-[#E0E0E0] placeholder:text-[#959EA9]"
    />
  </div>

  <!-- Grid items -->
  <div class="grid grid-cols-2 md:grid-cols-4 gap-10">
    <div *ngFor="let post of pagedPosts" class="flex flex-col">
      <img
        [src]="post.thumbnail"
        alt="Thumbnail"
        class="w-full h-[120px] md:h-[140px] object-cover rounded-[8px] mb-2"
      />
      <a
        class="text-sm font-semibold text-[#333333] mb-1 line-clamp-2 cursor-pointer"
        [routerLink]="['/detail', 'edukasi', generateSlug(post.title)]"
      >
        {{ post.title }}
      </a>
      <div class="flex items-center text-xs text-gray-500 space-x-2">
        <span class="text-[#0090FF]">{{ "Edukasi" }}</span>
        <span>•</span>
        <span class="text-[#526071]">{{
          post.pubDate | date : "dd MMM yyyy"
        }}</span>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="flex justify-between items-center mt-10 text-sm text-gray-500">
    <div>
      Showing {{ showingStart }} to {{ showingEnd }} of
      {{ filteredPosts.length }} results
    </div>
    <div class="flex items-center space-x-1">
      <button
        (click)="prevPage()"
        [disabled]="currentPage === 1"
        class="px-2 py-1 cursor-pointer disabled:cursor-default rounded disabled:opacity-50"
      >
        Previous
      </button>

      <ng-container
        *ngFor="let page of [].constructor(totalPages); let i = index"
      >
        <button
          (click)="goToPage(i + 1)"
          [class.bg-blue-500]="currentPage === i + 1"
          [class.text-white]="currentPage === i + 1"
          class="px-2 py-1 cursor-pointer rounded"
        >
          {{ i + 1 }}
        </button>
      </ng-container>

      <button
        (click)="nextPage()"
        [disabled]="currentPage === totalPages"
        class="px-2 py-1 cursor-pointer disabled:cursor-default rounded disabled:opacity-50"
      >
        Next
      </button>
    </div>
  </div>
</div>
